<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>NoSQL - Laboratorio1</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/semantic.min.js"></script>
</head>

<body style="background-color: #F3F4F5">
<div class="ui menu secondary top fixed" style="background-color: #e3e6e8; padding: 16px">
    <div class="ui container">
        <div class="ui icon search input">
            <i class="search link icon" onclick="cargarUsuarios(1)"></i>
            <input type="text" id="filtro" placeholder="Buscar por username...">
        </div>
        <div class="right menu">
            <button class="ui blue button" id="nuevoBtn" onclick="mostrarNuevo()"><i class="add user icon"></i>Crear
                Usuario
            </button>
        </div>
    </div>
</div>
<div class="ui container" id="listado" style="padding-top: 70px; padding-bottom: 64px">
    <table class="ui selectable very basic table" style="padding: 24px">
        <thead>
        <tr>
            <td class="ui header grey center aligned">@Rid</td>
            <td class="ui header grey center aligned">Username</td>
            <td class="ui header grey center aligned">Email</td>
            <td class="ui header grey center aligned">Nombre</td>
            <td class="ui header grey center aligned">Apellido</td>
        </tr>
        </thead>
        <tbody id="usuariosList"></tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination secondary menu" style="padding: 10px">
                    <a class="icon item" onclick="cargarUsuarios_anterior()">
                        <i class="left  chevron icon"></i>
                    </a>
                    <a id="pag" class="disabled item header">1</a>
                    <a class="icon item" onclick="cargarUsuarios_siguiente()">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="ui center aligned container" id="nueva" style="display: none; padding-top: 32px; padding-bottom: 0px">
    <div class="ui center aligned text container" style="padding: 70px; margin: 0px; padding-bottom: 32px">
        <h2 class="ui grey large header" style="padding: 16px">Usuario Nuevo</h2>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Nombre</div>
            <input type="text" id="nombreNuevo" placeholder="Ingrese el nombre del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Apellido</div>
            <input type="text" id="apellidoNuevo" placeholder="Ingrese el apellido del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Email</div>
            <input type="email" id="emailNuevo" placeholder="Ingrese el email del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Username</div>
            <input type="text" id="usernameNuevo" placeholder="Ingrese username o nombre de usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Password</div>
            <input type="password" id="passwordNuevo" placeholder="Ingrese password...">
        </div>
    </div>
    <div class="ui basic secondary center aligned segment" style="margin: 0px; padding: 16px">
        <button class="ui large button" onclick="mostrarListado()"><i class="left angle icon"></i>Volver</button>
        <button class="ui green large button" onclick="registrarUsuario()"><i class="checkmark icon"></i>Confirmar
        </button>
    </div>
</div>
<div class="ui center aligned container" id="mod" style="display: none; padding-top: 32px; padding-bottom: 0px">
    <div class="ui center aligned text container" style="padding: 70px; margin: 0px; padding-bottom: 32px">
        <h2 class="ui grey large header" style="padding: 16px">Modificar Usuario</h2>
        <h2 class="ui header">@Rid: <span class="ui header small grey" id="ridActual"></span></h2>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Nombre</div>
            <input type="text" id="nombreMod" placeholder="Ingrese el nombre del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Apellido</div>
            <input type="text" id="apellidoMod" placeholder="Ingrese el apellido del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Email</div>
            <input type="email" id="emailMod" placeholder="Ingrese el email del usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Username</div>
            <input type="text" id="usernameMod" placeholder="Ingrese username o nombre de usuario...">
        </div>
        <div class="ui fluid labeled input" style="margin-top: 16px">
            <div class="ui basic label">Password</div>
            <input type="password" id="passwordMod" placeholder="Ingrese password...">
        </div>
    </div>
    <div class="ui basic secondary center aligned segment" style="margin: 0px; padding: 16px">
        <div class="ui buttons">
            <button class="ui large button" onclick="mostrarListadoMod()"><i class="left blue angle icon"></i>Volver
            </button>
            <button class="ui button large" id="eliminarBtn"><i class="trash red icon"></i>Eliminar</button>
            <button class="ui large button" onclick="modificarUsuario()"><i class="save green icon"></i>Guardar cambios
            </button>
        </div>
    </div>
    <div class="ui segments raised popup bottom left pointing transition hidden" id="popup"
         style="max-width: 400px; width: 370px; padding: 0px;">
        <div class="ui center aligned red segment" style="background-color: #fafafa">
            <h2 class="ui header grey">Se eliminar&aacute; el usuario.</h2>
            <h3 class="ui header red large">&iquest;Confirmar?</h3>
        </div>
        <div class="ui segment center aligned" style="padding: 7px">
            <button class="ui basic big button item" onclick="eliminarUsuario()"><i class="trash red icon"></i>Confirmar</button>
        </div>
    </div>
</div>
<div class="ui page dimmer" id="dimmer">
    <div class="content">
        <div class="center">
            <div class="ui basic segment" id="crear" style="background-color: #e3e6e8; display: none;">
                <div class="ui center aligned text container">
                    <div class="ui icon header large grey" style="margin-bottom: 0px; padding: 16px"><i
                            class="checkmark icon green" style="margin: 0px"></i>Usuario creado correctamente!
                    </div>
                </div>
            </div>
            <div class="ui basic segment" id="modificar" style="background-color: #e3e6e8; display: none">
                <div class="ui center aligned text container">
                    <div class="ui icon header large grey" style="margin-bottom: 0px; padding: 16px"><i
                            class="checkmark icon green" style="margin: 0px"></i>Usuario modificado correctamente!
                    </div>
                </div>
            </div>
            <div class="ui basic segment" id="eliminar" style="background-color: #e3e6e8; display: none">
                <div class="ui center aligned text container">
                    <div class="ui icon header large grey" style="margin-bottom: 0px; padding: 16px"><i
                            class="checkmark icon green" style="margin: 0px"></i>Usuario eliminado correctamente!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#eliminarBtn').popup({
            popup: $('#popup'),
            on: 'click'
        });
        cargarUsuarios(1);
    });

    function registrarUsuario() {
        var nombre = document.getElementById("nombreNuevo").value;
        var apellido = document.getElementById("apellidoNuevo").value;
        var username = document.getElementById("usernameNuevo").value;
        var email = document.getElementById("emailNuevo").value;
        var password = document.getElementById("passwordNuevo").value;
        if (username !== undefined && username !== "") {
            $.post("http://localhost:8080/usuarios", "nombre=" + nombre + "&apellido=" + apellido + "&username=" + username + "&email=" + email + "&password=" + password, function (response) {
                if (response !== undefined) {
                    if (response === true || response === "true") {
                        mostrarListado();
                        document.getElementById("nombreNuevo").value = "";
                        document.getElementById("apellidoNuevo").value = "";
                        document.getElementById("usernameNuevo").value = "";
                        document.getElementById("emailNuevo").value = "";
                        document.getElementById("passwordNuevo").value = "";
                        mostrarExitoCrear();
                        cargarUsuarios(1);
                    }
                }
            });
        }
    }

    function eliminarUsuario() {
        var username = document.getElementById("usernameMod").value;
        if (username !== undefined && username !== "") {
            var url = "http://localhost:8080/usuarios?username=" + username;
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (response) {
                    if (response !== undefined) {
                        if (response === true || response === "true") {
                            $('#eliminarBtn').popup('hide');
                            cargarUsuarios(1);
                            mostrarListadoMod();
                            mostrarExitoDel();
                        }
                    }
                }
            });
        }
    }

    function modificarUsuario() {
        var nombre = document.getElementById("nombreMod").value;
        var apellido = document.getElementById("apellidoMod").value;
        var email = document.getElementById("emailMod").value;
        var password = document.getElementById("passwordMod").value;
        var username = document.getElementById("usernameMod").value;
        var rid = document.getElementById("ridActual").innerHTML;
        var params = "username=" + username + "&nombre=" + nombre + "&apellido=" + apellido + "&email=" + email + "&password=" + password + "&rid=" + rid;
        if (rid !== undefined && rid !== "") {
            $.ajax({
                url: 'http://localhost:8080/usuarios',
                type: 'PUT',
                data: params,
                success: function (response) {
                    if (response !== undefined) {
                        if (response === true || response === "true") {
                            cargarUsuarios(1);
                            mostrarListadoMod();
                            mostrarExitoMod();
                        }
                    }
                }
            });
        }
    }

    function cargarUsuario(username) {
        if (username !== undefined) {
            $.get("http://localhost:8080/usuarios/" + username, function (usuario) {
                if (usuario !== undefined) {
                    mostrarMod();
                    document.getElementById("nombreMod").value = usuario.nombre;
                    document.getElementById("apellidoMod").value = usuario.apellido;
                    document.getElementById("emailMod").value = usuario.email;
                    document.getElementById("passwordMod").value = usuario.password;
                    document.getElementById("usernameMod").value = usuario.username;
                    document.getElementById("ridActual").innerHTML = usuario.rid;
                }
            });
        }
    }

    function cargarUsuarios(pag) {
        var filtro = document.getElementById("filtro").value;
        if (pag === undefined) {
            pag = 1;
        }
        $.get("http://localhost:8080/usuarios?filtro=" + filtro + "&pagina=" + pag, function (response) {
            if (response !== undefined) {
                while (document.getElementById("usuariosList").hasChildNodes()) {
                    document.getElementById("usuariosList").removeChild(document.getElementById("usuariosList").lastChild);
                }
                $.each(response, function (index, usuario) {
                    var tr = document.createElement("tr");
                    tr.className = "ui center aligned header very small";
                    tr.addEventListener("dblclick", function () {
                        cargarUsuario(usuario.username);
                    });
                    var td1 = document.createElement("td");
                    td1.innerHTML = usuario.username;
                    var td2 = document.createElement("td");
                    td2.innerHTML = usuario.email;
                    var td3 = document.createElement("td");
                    td3.innerHTML = usuario.nombre;
                    var td4 = document.createElement("td");
                    td4.innerHTML = usuario.apellido;
                    var td5 = document.createElement("td");
                    td5.innerHTML = usuario.rid;
                    tr.appendChild(td5);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);
                    document.getElementById("usuariosList").appendChild(tr);
                });
            }
        });
    }

    function cargarUsuarios_siguiente() {
        if (document.getElementById("usuariosList").childNodes.length >= 10) {
            cargarUsuarios((Number(document.getElementById("pag").innerHTML) + 1));
            document.getElementById("pag").innerHTML = (Number(document.getElementById("pag").innerHTML) + 1).toString();
        }
    }

    function cargarUsuarios_anterior() {
        var paginaActual = Number(document.getElementById("pag").innerHTML);
        if (paginaActual > 1) {
            cargarUsuarios((paginaActual - 1));
            document.getElementById("pag").innerHTML = (paginaActual - 1).toString();
        }
    }

    function mostrarExitoCrear() {
        $('#dimmer').dimmer({
            opacity: 0.2,
            closable: true
        }).dimmer('show');
        document.getElementById("crear").style.display = "block";
        document.getElementById("modificar").style.display = "none";
        document.getElementById("eliminar").style.display = "none";
    }

    function mostrarExitoMod() {
        document.getElementById("crear").style.display = "none";
        document.getElementById("modificar").style.display = "block";
        document.getElementById("eliminar").style.display = "none";
        $('#dimmer').dimmer({
            opacity: 0.2,
            closable: true
        }).dimmer('show');
    }

    function mostrarExitoDel() {
        document.getElementById("crear").style.display = "none";
        document.getElementById("modificar").style.display = "none";
        document.getElementById("eliminar").style.display = "block";
        $('#dimmer').dimmer({
            opacity: 0.2,
            closable: true
        }).dimmer('show');
    }

    function mostrarNuevo() {
        $('#listado').transition({
            animation: 'fade',
            onComplete: function () {
                $('#nueva').transition('fade');
            }
        });
        $('#nuevoBtn').transition('fade');
    }

    function mostrarListado() {
        $('#nueva').transition({
            animation: 'fade',
            onComplete: function () {
                $('#listado').transition('fade');
            }
        });
        $('#nuevoBtn').transition('fade');
    }

    function mostrarMod() {
        $('#listado').transition({
            animation: 'fade',
            onComplete: function () {
                $('#mod').transition('fade');
            }
        });
        $('#nuevoBtn').transition('fade');
    }

    function mostrarListadoMod() {
        $('#mod').transition({
            animation: 'fade',
            onComplete: function () {
                $('#listado').transition('fade');
            }
        });
        $('#nuevoBtn').transition('fade');
    }
</script>
</body>

</html>
